<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cnMES" value="Provider=MSDAORA;data source=newmes;user id=dgvrpt;password=cimdavid;"></add>
    <add key="cnRUN" value="Provider=MSDAORA;data source=rundb;user id=run;password=run;"></add>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.13.66.33/ws_sendmail/WS_SendMail.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceSoap"
        contract="wsSendMail.WebServiceSoap" name="WebServiceSoap" />

    </client>
  </system.serviceModel>
</configuration>